@import "tailwindcss";

:root {
  --background: #171717;

}
@theme{
  --color-primary: #D4AF37;
  --color-gold: #af8c48;
  --color-lightGold: #d8b975;
  --color-line:#D9B45C;
  
  --font-sans:var(--font-montserrat);
  --font-serif:var(--font-playfair);
  --font-myfont: var(--font-myfont);
  --breakpoint-iphon11: 414px;
}



body {
background-color: #000000;
overscroll-behavior-y: none;
color: #ffff;
}
